# 严格的peer dependencies
strict-peer-dependencies=false

# 自动安装peer dependencies
auto-install-peers=true

# 共享依赖的策略
shamefully-hoist=true

# 设置npm registry
registry=https://registry.npmmirror.com/

# 保存精确的版本号
save-exact=true 